# IDE
.vscode
/.vs/caddy-crowdsec-cf-dns/config/
/.vs/caddy-crowdsec-cf-dns/config/applicationhost.config
/.vs/caddy-crowdsec-cf-dns/v17
/.vs/caddy-crowdsec-cf-dns/v17/.wsuo
/.vs/caddy-crowdsec-cf-dns/v17/Browse.VC.db
/.vs/caddy-crowdsec-cf-dns/v17/Browse.VC.db-shm
/.vs/caddy-crowdsec-cf-dns/v17/Browse.VC.db-wal
/.vs/caddy-crowdsec-cf-dns/v17/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/caddy-crowdsec-cf-dns/FileContentIndex
/.vs/caddy-crowdsec-cf-dns/FileContentIndex/0cdcff13-4b94-490a-98c8-a0a9f1c5336f.vsidx
/.vs/caddy-crowdsec-cf-dns/FileContentIndex/12834089-57f7-4acd-b10f-610f7a43e692.vsidx
/.vs/caddy-crowdsec-cf-dns/FileContentIndex/1b8a968e-104a-4bb1-8caf-cdbcc6bb3699.vsidx
/.vs/caddy-crowdsec-cf-dns/FileContentIndex/413d42a1-1e68-491b-9f59-a06b227d920b.vsidx
/.vs/caddy-crowdsec-cf-dns/FileContentIndex/a51a013b-a686-4de5-a1e9-24900f0f4dfa.vsidx
